.navbar {
  padding: 20px 0;
  height: 77px;
  background-color: rgb(76, 124, 197);
}

.navbar a {
  font-size: 20px;
}

.login-navigate {
  text-decoration: none;
  color: whitesmoke;
}
