.createCustomer-img-container2 {
  margin-left: 50px;
}

.create-account-form {
  margin-left: 60px;
}

.acc-form {
  margin-top: 50px;
}

.form-bg2 {
  /* margin-top: 35px; */
  background-color: rgba(3, 98, 252, 0.275);
  margin-bottom: 90px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  border-radius: 0.5em;
}

.form-grp {
  margin-left: 18px;
  margin-right: 18px;
}

.btn2 {
  margin-left: 2px;
}

.create-acc-head {
  font-family: sans-serif;

  color: rgb(0, 0, 128);
}
