.search-button {
  margin-left: 20px;
}

.cus-id {
  margin-right: 20px;
}

.view-cus-head {
  margin-left: 120px;
  font-family: sans-serif;
  color: rgb(76, 124, 197);
}

.customer-services-container {
  margin-left: 180px;
}

.img-position {
  margin-top: -60px;
}
